.App {
   
   text-align: center;
   background-image:url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/OEKCSJM6EVALLNKGJJS3KDSU74.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center center;
}

   
   
   
